<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Админка</title>
</head>
<body>

<br/>
<form>
    <input class="MyButton" type="button" value="Заказы" onclick="window.location.href='/admin/orders/page/1'" />
    <input class="MyButton" type="button" value="Пользователи" onclick="window.location.href='/admin/users'" />
    <input class="MyButton" type="button" value="Продукты" onclick="window.location.href='/admin/products'" />
    <input class="MyButton" type="button" value="Ключевые слова" onclick="window.location.href='/admin/preferences/words'" />
    <input class="MyButton" type="button" value="Настройки" onclick="window.location.href='/admin/properties'" />
    <input class="MyButton" type="button" value="Адреса" onclick="window.location.href='/admin/addresses'" />
    <input class="MyButton" type="button" value="Кэши" onclick="window.location.href='/admin/caches'" />
    <input class="MyButton" type="button" value="Промо-коды" onclick="window.location.href='/admin/bonuses/promoCodes'" />
</form>

</body>
</html>